In [4]:
import os

mongo_db_url = os.environ.get('MONGO_DB_URL')

if mongo_db_url:
    print(f'MongoDB URL: {mongo_db_url}')
else:
    print('MONGO_DB_URL environment variable is not set.')

MONGO_DB_URL environment variable is not set.

In [5]:
import os
os.chdir("../")

In [6]:
%pwd

'f:\\End_To_End_project\\Sensor-Fault-Detection'

In [7]:
from Sensor_Fault_Detection.utils.util import read_yaml_file

path = r"F:\End_To_End_project\Sensor-Fault-Detection\configs\schema.yaml"

schema_config = read_yaml_file(path)

In [8]:
schema_config

{'columns': [{'class': 'category'},
  {'aa_000': 'int'},
  {'ac_000': 'int'},
  {'ad_000': 'int'},
  {'ae_000': 'int'},
  {'af_000': 'int'},
  {'ag_000': 'int'},
  {'ag_001': 'int'},
  {'ag_002': 'int'},
  {'ag_003': 'int'},
  {'ag_004': 'int'},
  {'ag_005': 'int'},
  {'ag_006': 'int'},
  {'ag_007': 'int'},
  {'ag_008': 'int'},
  {'ag_009': 'int'},
  {'ah_000': 'int'},
  {'ai_000': 'int'},
  {'aj_000': 'int'},
  {'ak_000': 'int'},
  {'al_000': 'int'},
  {'am_0': 'int'},
  {'an_000': 'int'},
  {'ao_000': 'int'},
  {'ap_000': 'int'},
  {'aq_000': 'int'},
  {'ar_000': 'int'},
  {'as_000': 'int'},
  {'at_000': 'int'},
  {'au_000': 'int'},
  {'av_000': 'int'},
  {'ax_000': 'int'},
  {'ay_000': 'int'},
  {'ay_001': 'int'},
  {'ay_002': 'int'},
  {'ay_003': 'int'},
  {'ay_004': 'int'},
  {'ay_005': 'int'},
  {'ay_006': 'int'},
  {'ay_007': 'int'},
  {'ay_008': 'int'},
  {'ay_009': 'int'},
  {'az_000': 'int'},
  {'az_001': 'int'},
  {'az_002': 'int'},
  {'az_003': 'int'},
  {'az_004': 'int'},
  {'az_005': 'int'},
  {'az_006': 'int'},
  {'az_007': 'int'},
  {'az_008': 'int'},
  {'az_009': 'int'},
  {'ba_000': 'int'},
  {'ba_001': 'int'},
  {'ba_002': 'int'},
  {'ba_003': 'int'},
  {'ba_004': 'int'},
  {'ba_005': 'int'},
  {'ba_006': 'int'},
  {'ba_007': 'int'},
  {'ba_008': 'int'},
  {'ba_009': 'int'},
  {'bb_000': 'int'},
  {'bc_000': 'int'},
  {'bd_000': 'int'},
  {'be_000': 'int'},
  {'bf_000': 'int'},
  {'bg_000': 'int'},
  {'bh_000': 'int'},
  {'bi_000': 'int'},
  {'bj_000': 'int'},
  {'bk_000': 'int'},
  {'bl_000': 'int'},
  {'bm_000': 'int'},
  {'bs_000': 'int'},
  {'bt_000': 'int'},
  {'bu_000': 'int'},
  {'bv_000': 'int'},
  {'bx_000': 'int'},
  {'by_000': 'int'},
  {'bz_000': 'int'},
  {'ca_000': 'int'},
  {'cb_000': 'int'},
  {'cc_000': 'int'},
  {'cd_000': 'int'},
  {'ce_000': 'int'},
  {'cf_000': 'int'},
  {'cg_000': 'int'},
  {'ch_000': 'int'},
  {'ci_000': 'int'},
  {'cj_000': 'int'},
  {'ck_000': 'int'},
  {'cl_000': 'int'},
  {'cm_000': 'int'},
  {'cn_000': 'int'},
  {'cn_001': 'int'},
  {'cn_002': 'int'},
  {'cn_003': 'int'},
  {'cn_004': 'int'},
  {'cn_005': 'int'},
  {'cn_006': 'int'},
  {'cn_007': 'int'},
  {'cn_008': 'int'},
  {'cn_009': 'int'},
  {'co_000': 'int'},
  {'cp_000': 'int'},
  {'cq_000': 'int'},
  {'cs_000': 'int'},
  {'cs_001': 'int'},
  {'cs_002': 'int'},
  {'cs_003': 'int'},
  {'cs_004': 'int'},
  {'cs_005': 'int'},
  {'cs_006': 'int'},
  {'cs_007': 'int'},
  {'cs_008': 'int'},
  {'cs_009': 'int'},
  {'ct_000': 'int'},
  {'cu_000': 'int'},
  {'cv_000': 'int'},
  {'cx_000': 'int'},
  {'cy_000': 'int'},
  {'cz_000': 'int'},
  {'da_000': 'int'},
  {'db_000': 'int'},
  {'dc_000': 'int'},
  {'dd_000': 'int'},
  {'de_000': 'int'},
  {'df_000': 'int'},
  {'dg_000': 'int'},
  {'dh_000': 'int'},
  {'di_000': 'int'},
  {'dj_000': 'int'},
  {'dk_000': 'int'},
  {'dl_000': 'int'},
  {'dm_000': 'int'},
  {'dn_000': 'int'},
  {'do_000': 'int'},
  {'dp_000': 'int'},
  {'dq_000': 'int'},
  {'dr_000': 'int'},
  {'ds_000': 'int'},
  {'dt_000': 'int'},
  {'du_000': 'int'},
  {'dv_000': 'int'},
  {'dx_000': 'int'},
  {'dy_000': 'int'},
  {'dz_000': 'int'},
  {'ea_000': 'int'},
  {'eb_000': 'int'},
  {'ec_00': 'int'},
  {'ed_000': 'int'},
  {'ee_000': 'int'},
  {'ee_001': 'int'},
  {'ee_002': 'int'},
  {'ee_003': 'int'},
  {'ee_004': 'int'},
  {'ee_005': 'int'},
  {'ee_006': 'int'},
  {'ee_007': 'int'},
  {'ee_008': 'int'},
  {'ee_009': 'int'},
  {'ef_000': 'int'},
  {'eg_000': 'int'}],
 'numerical_columns': ['aa_000',
  'ac_000',
  'ad_000',
  'ae_000',
  'af_000',
  'ag_000',
  'ag_001',
  'ag_002',
  'ag_003',
  'ag_004',
  'ag_005',
  'ag_006',
  'ag_007',
  'ag_008',
  'ag_009',
  'ah_000',
  'ai_000',
  'aj_000',
  'ak_000',
  'al_000',
  'am_0',
  'an_000',
  'ao_000',
  'ap_000',
  'aq_000',
  'ar_000',
  'as_000',
  'at_000',
  'au_000',
  'av_000',
  'ax_000',
  'ay_000',
  'ay_001',
  'ay_002',
  'ay_003',
  'ay_004',
  'ay_005',
  'ay_006',
  'ay_007',
  'ay_008',
  'ay_009',
  'az_000',
  'az_001',
  'az_002',
  'az_003',
  'az_004',
  'az_005',
  'az_006',
  'az_007',
  'az_008',
  'az_009',
  'ba_000',
  'ba_001',
  'ba_002',
  'ba_003',
  'ba_004',
  'ba_005',
  'ba_006',
  'ba_007',
  'ba_008',
  'ba_009',
  'bb_000',
  'bc_000',
  'bd_000',
  'be_000',
  'bf_000',
  'bg_000',
  'bh_000',
  'bi_000',
  'bj_000',
  'bk_000',
  'bl_000',
  'bm_000',
  'bs_000',
  'bt_000',
  'bu_000',
  'bv_000',
  'bx_000',
  'by_000',
  'bz_000',
  'ca_000',
  'cb_000',
  'cc_000',
  'cd_000',
  'ce_000',
  'cf_000',
  'cg_000',
  'ch_000',
  'ci_000',
  'cj_000',
  'ck_000',
  'cl_000',
  'cm_000',
  'cn_000',
  'cn_001',
  'cn_002',
  'cn_003',
  'cn_004',
  'cn_005',
  'cn_006',
  'cn_007',
  'cn_008',
  'cn_009',
  'co_000',
  'cp_000',
  'cq_000',
  'cs_000',
  'cs_001',
  'cs_002',
  'cs_003',
  'cs_004',
  'cs_005',
  'cs_006',
  'cs_007',
  'cs_008',
  'cs_009',
  'ct_000',
  'cu_000',
  'cv_000',
  'cx_000',
  'cy_000',
  'cz_000',
  'da_000',
  'db_000',
  'dc_000',
  'dd_000',
  'de_000',
  'df_000',
  'dg_000',
  'dh_000',
  'di_000',
  'dj_000',
  'dk_000',
  'dl_000',
  'dm_000',
  'dn_000',
  'do_000',
  'dp_000',
  'dq_000',
  'dr_000',
  'ds_000',
  'dt_000',
  'du_000',
  'dv_000',
  'dx_000',
  'dy_000',
  'dz_000',
  'ea_000',
  'eb_000',
  'ec_00',
  'ed_000',
  'ee_000',
  'ee_001',
  'ee_002',
  'ee_003',
  'ee_004',
  'ee_005',
  'ee_006',
  'ee_007',
  'ee_008',
  'ee_009',
  'ef_000',
  'eg_000'],
 'drop_columns': ['br_000',
  'bq_000',
  'bp_000',
  'ab_000',
  'cr_000',
  'bo_000',
  'bn_000']}

In [9]:
len(schema_config)

3

In [10]:
schema_config.keys()

dict_keys(['columns', 'numerical_columns', 'drop_columns'])

In [1]:
len(schema_config['columns'])

NameError: name 'schema_config' is not defined

In [16]:
import pandas as pd
df =  pd.read_csv(r"F:\End_To_End_project\Sensor-Fault-Detection\artifact\10_03_2023_19_22_11\data_ingetion\feature_store\sensor.csv")

In [20]:
len(df.columns)

171

In [21]:
len(schema_config['columns'])

164

In [23]:
len(schema_config['columns'])==len(df)

False

## data drift

In [25]:
from scipy.stats import ks_2samp
import numpy as np

In [26]:
d1 = np.arange(10)
d2 = np.arange(10)

d1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
d2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [28]:
ks_2samp(d1,d2)

KstestResult(statistic=0.0, pvalue=1.0)

In [29]:
d1 = np.arange(100,200)
d2 = np.arange(10)

d1

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
       126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
       152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164,
       165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177,
       178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190,
       191, 192, 193, 194, 195, 196, 197, 198, 199])

In [30]:
d2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [31]:
test = ks_2samp(d1,d2)

In [32]:
test.pvalue

4.2646072253826637e-14

In [33]:
round(test.pvalue)

0

In [18]:
import pandas as pd
train = r"F:\End_To_End_project\Sensor-Fault-Detection\artifact\10_05_2023_16_11_50\data_ingetion\ingested\train.csv"
test = r"F:\End_To_End_project\Sensor-Fault-Detection\artifact\10_05_2023_16_11_50\data_ingetion\ingested\test.csv"

In [19]:
train_df = pd.read_csv(train)
test_df = pd.read_csv(test)

In [39]:
train_df.columns

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=171)

In [42]:
d1 = train_df['ab_000']
d2 = test_df['ab_000']

In [43]:
ks_2samp(d1,d2)

KstestResult(statistic=0.002505434582366156, pvalue=0.9999999999945326)

In [44]:
columns = list(train_df.columns)
columns

['class',
 'aa_000',
 'ab_000',
 'ac_000',
 'ad_000',
 'ae_000',
 'af_000',
 'ag_000',
 'ag_001',
 'ag_002',
 'ag_003',
 'ag_004',
 'ag_005',
 'ag_006',
 'ag_007',
 'ag_008',
 'ag_009',
 'ah_000',
 'ai_000',
 'aj_000',
 'ak_000',
 'al_000',
 'am_0',
 'an_000',
 'ao_000',
 'ap_000',
 'aq_000',
 'ar_000',
 'as_000',
 'at_000',
 'au_000',
 'av_000',
 'ax_000',
 'ay_000',
 'ay_001',
 'ay_002',
 'ay_003',
 'ay_004',
 'ay_005',
 'ay_006',
 'ay_007',
 'ay_008',
 'ay_009',
 'az_000',
 'az_001',
 'az_002',
 'az_003',
 'az_004',
 'az_005',
 'az_006',
 'az_007',
 'az_008',
 'az_009',
 'ba_000',
 'ba_001',
 'ba_002',
 'ba_003',
 'ba_004',
 'ba_005',
 'ba_006',
 'ba_007',
 'ba_008',
 'ba_009',
 'bb_000',
 'bc_000',
 'bd_000',
 'be_000',
 'bf_000',
 'bg_000',
 'bh_000',
 'bi_000',
 'bj_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'bs_000',
 'bt_000',
 'bu_000',
 'bv_000',
 'bx_000',
 'by_000',
 'bz_000',
 'ca_000',
 'cb_000',
 'cc_000',
 'cd_000',
 'ce_000',
 'cf_000',
 'cg_000',
 'ch_000',
 'ci_000',
 'cj_000',
 'ck_000',
 'cl_000',
 'cm_000',
 'cn_000',
 'cn_001',
 'cn_002',
 'cn_003',
 'cn_004',
 'cn_005',
 'cn_006',
 'cn_007',
 'cn_008',
 'cn_009',
 'co_000',
 'cp_000',
 'cq_000',
 'cr_000',
 'cs_000',
 'cs_001',
 'cs_002',
 'cs_003',
 'cs_004',
 'cs_005',
 'cs_006',
 'cs_007',
 'cs_008',
 'cs_009',
 'ct_000',
 'cu_000',
 'cv_000',
 'cx_000',
 'cy_000',
 'cz_000',
 'da_000',
 'db_000',
 'dc_000',
 'dd_000',
 'de_000',
 'df_000',
 'dg_000',
 'dh_000',
 'di_000',
 'dj_000',
 'dk_000',
 'dl_000',
 'dm_000',
 'dn_000',
 'do_000',
 'dp_000',
 'dq_000',
 'dr_000',
 'ds_000',
 'dt_000',
 'du_000',
 'dv_000',
 'dx_000',
 'dy_000',
 'dz_000',
 'ea_000',
 'eb_000',
 'ec_00',
 'ed_000',
 'ee_000',
 'ee_001',
 'ee_002',
 'ee_003',
 'ee_004',
 'ee_005',
 'ee_006',
 'ee_007',
 'ee_008',
 'ee_009',
 'ef_000',
 'eg_000']

In [45]:
train_df.shape, test_df.shape

((27141, 171), (9047, 171))

In [54]:
report = {}
def get_drift_report(base_df,current_df, threshold=0.5):
    report={}
    for column in train_df.columns:
        d1 = base_df[column]
        d2 = current_df[column]
        is_same_dist = ks_2samp(d1,d2)
        if threshold<=float(is_same_dist.pvalue):
            is_found=False
        
        else:
            is_found = True
        report.update({column:{
            "p_value":float(is_same_dist.pvalue),
            "drift_status":is_found

            }})
    return report

In [55]:
get_drift_report(train_df, test_df)

{'class': {'p_value': 1.0, 'drift_status': False},
 'aa_000': {'p_value': 0.4764883698189838, 'drift_status': True},
 'ab_000': {'p_value': 0.9999999999945326, 'drift_status': False},
 'ac_000': {'p_value': 0.35175067456218, 'drift_status': True},
 'ad_000': {'p_value': 0.4006664190225946, 'drift_status': True},
 'ae_000': {'p_value': 0.9999999694570323, 'drift_status': False},
 'af_000': {'p_value': 0.9999994660558171, 'drift_status': False},
 'ag_000': {'p_value': 1.0, 'drift_status': False},
 'ag_001': {'p_value': 1.0, 'drift_status': False},
 'ag_002': {'p_value': 0.9999999999990032, 'drift_status': False},
 'ag_003': {'p_value': 0.9997717864093709, 'drift_status': False},
 'ag_004': {'p_value': 0.16345943907467153, 'drift_status': True},
 'ag_005': {'p_value': 0.6602188258611852, 'drift_status': False},
 'ag_006': {'p_value': 0.495326730181905, 'drift_status': True},
 'ag_007': {'p_value': 0.7061008254220469, 'drift_status': False},
 'ag_008': {'p_value': 0.3177354234451508, 'drift_status': True},
 'ag_009': {'p_value': 0.6295141544806743, 'drift_status': False},
 'ah_000': {'p_value': 0.685770655670435, 'drift_status': False},
 'ai_000': {'p_value': 0.999969273644207, 'drift_status': False},
 'aj_000': {'p_value': 0.821894901204671, 'drift_status': False},
 'ak_000': {'p_value': 0.9938407752443232, 'drift_status': False},
 'al_000': {'p_value': 0.9912695335630153, 'drift_status': False},
 'am_0': {'p_value': 0.9992027588282546, 'drift_status': False},
 'an_000': {'p_value': 0.780218370273424, 'drift_status': False},
 'ao_000': {'p_value': 0.826345292742967, 'drift_status': False},
 'ap_000': {'p_value': 0.9660179942112603, 'drift_status': False},
 'aq_000': {'p_value': 0.7560183577114274, 'drift_status': False},
 'ar_000': {'p_value': 0.999993275812842, 'drift_status': False},
 'as_000': {'p_value': 0.9999999999461324, 'drift_status': False},
 'at_000': {'p_value': 0.9897220346188692, 'drift_status': False},
 'au_000': {'p_value': 0.999999980930967, 'drift_status': False},
 'av_000': {'p_value': 0.3716447806010257, 'drift_status': True},
 'ax_000': {'p_value': 0.4858642780992629, 'drift_status': True},
 'ay_000': {'p_value': 1.0, 'drift_status': False},
 'ay_001': {'p_value': 0.9999999999999933, 'drift_status': False},
 'ay_002': {'p_value': 1.0, 'drift_status': False},
 'ay_003': {'p_value': 0.9999999999999979, 'drift_status': False},
 'ay_004': {'p_value': 0.9999999999999993, 'drift_status': False},
 'ay_005': {'p_value': 0.4534467910659232, 'drift_status': True},
 'ay_006': {'p_value': 0.7461747008725492, 'drift_status': False},
 'ay_007': {'p_value': 0.6448611045691387, 'drift_status': False},
 'ay_008': {'p_value': 0.41351165185080585, 'drift_status': True},
 'ay_009': {'p_value': 1.0, 'drift_status': False},
 'az_000': {'p_value': 0.3839174732923665, 'drift_status': True},
 'az_001': {'p_value': 0.9977920361405405, 'drift_status': False},
 'az_002': {'p_value': 0.960111706642115, 'drift_status': False},
 'az_003': {'p_value': 0.5686857661684999, 'drift_status': False},
 'az_004': {'p_value': 0.9789118723168417, 'drift_status': False},
 'az_005': {'p_value': 0.614201574231217, 'drift_status': False},
 'az_006': {'p_value': 0.10858488496884278, 'drift_status': True},
 'az_007': {'p_value': 0.8983837975436227, 'drift_status': False},
 'az_008': {'p_value': 0.9999999999945326, 'drift_status': False},
 'az_009': {'p_value': 1.0, 'drift_status': False},
 'ba_000': {'p_value': 0.7262591799751785, 'drift_status': False},
 'ba_001': {'p_value': 0.43544495317411913, 'drift_status': True},
 'ba_002': {'p_value': 0.5241994879281537, 'drift_status': False},
 'ba_003': {'p_value': 0.5241994879281537, 'drift_status': False},
 'ba_004': {'p_value': 0.3880637077036543, 'drift_status': True},
 'ba_005': {'p_value': 0.43544495317411913, 'drift_status': True},
 'ba_006': {'p_value': 0.7609075269342191, 'drift_status': False},
 'ba_007': {'p_value': 0.5938765233308851, 'drift_status': False},
 'ba_008': {'p_value': 0.6193005475425992, 'drift_status': False},
 'ba_009': {'p_value': 0.9870401854335371, 'drift_status': False},
 'bb_000': {'p_value': 0.495326730181905, 'drift_status': True},
 'bc_000': {'p_value': 0.27932330154220053, 'drift_status': True},
 'bd_000': {'p_value': 0.976065806996611, 'drift_status': False},
 'be_000': {'p_value': 0.509675454038915, 'drift_status': False},
 'bf_000': {'p_value': 0.5636833878185076, 'drift_status': False},
 'bg_000': {'p_value': 0.7461747008725492, 'drift_status': False},
 'bh_000': {'p_value': 0.7010316904338358, 'drift_status': False},
 'bi_000': {'p_value': 0.9052932144598087, 'drift_status': False},
 'bj_000': {'p_value': 0.9052932144598036, 'drift_status': False},
 'bk_000': {'p_value': 0.9580090168063999, 'drift_status': False},
 'bl_000': {'p_value': 0.9489217814560915, 'drift_status': False},
 'bm_000': {'p_value': 0.5989456120892556, 'drift_status': False},
 'bn_000': {'p_value': 0.9621471979579801, 'drift_status': False},
 'bo_000': {'p_value': 0.9999992388391101, 'drift_status': False},
 'bp_000': {'p_value': 0.9760658069966104, 'drift_status': False},
 'bq_000': {'p_value': 0.9989513743409237, 'drift_status': False},
 'br_000': {'p_value': 0.9621471979579809, 'drift_status': False},
 'bs_000': {'p_value': 0.1219369839283061, 'drift_status': True},
 'bt_000': {'p_value': 0.4764883698189838, 'drift_status': True},
 'bu_000': {'p_value': 0.4580082123375493, 'drift_status': True},
 'bv_000': {'p_value': 0.4580082123375493, 'drift_status': True},
 'bx_000': {'p_value': 0.6448611045691466, 'drift_status': False},
 'by_000': {'p_value': 0.3922373797219676, 'drift_status': True},
 'bz_000': {'p_value': 0.5048724513417457, 'drift_status': False},
 'ca_000': {'p_value': 0.1569161422729911, 'drift_status': True},
 'cb_000': {'p_value': 0.21005826244108938, 'drift_status': True},
 'cc_000': {'p_value': 0.7162058409299012, 'drift_status': False},
 'cd_000': {'p_value': 0.99999999999998, 'drift_status': False},
 'ce_000': {'p_value': 0.5290775501987441, 'drift_status': False},
 'cf_000': {'p_value': 0.9827335778653873, 'drift_status': False},
 'cg_000': {'p_value': 0.685770655670435, 'drift_status': False},
 'ch_000': {'p_value': 0.9815179524949788, 'drift_status': False},
 'ci_000': {'p_value': 0.7010316904338358, 'drift_status': False},
 'cj_000': {'p_value': 0.48116530980403915, 'drift_status': True},
 'ck_000': {'p_value': 0.8174051540289808, 'drift_status': False},
 'cl_000': {'p_value': 0.9999985061535805, 'drift_status': False},
 'cm_000': {'p_value': 0.992638392053937, 'drift_status': False},
 'cn_000': {'p_value': 1.0, 'drift_status': False},
 'cn_001': {'p_value': 0.9999998292165202, 'drift_status': False},
 'cn_002': {'p_value': 0.32881571973257095, 'drift_status': True},
 'cn_003': {'p_value': 0.5290775501987441, 'drift_status': False},
 'cn_004': {'p_value': 0.6908655500207519, 'drift_status': False},
 'cn_005': {'p_value': 0.7754299648797311, 'drift_status': False},
 'cn_006': {'p_value': 0.6653361885244372, 'drift_status': False},
 'cn_007': {'p_value': 0.921475926950547, 'drift_status': False},
 'cn_008': {'p_value': 0.9413937214751547, 'drift_status': False},
 'cn_009': {'p_value': 0.8912344527808986, 'drift_status': False},
 'co_000': {'p_value': 0.6397430647176348, 'drift_status': False},
 'cp_000': {'p_value': 0.675562386108741, 'drift_status': False},
 'cq_000': {'p_value': 0.4580082123375493, 'drift_status': True},
 'cr_000': {'p_value': 0.9999999999990032, 'drift_status': False},
 'cs_000': {'p_value': 0.21005826244108938, 'drift_status': True},
 'cs_001': {'p_value': 0.8351231247798058, 'drift_status': False},
 'cs_002': {'p_value': 0.5388856717932629, 'drift_status': False},
 'cs_003': {'p_value': 0.6244050156350889, 'drift_status': False},
 'cs_004': {'p_value': 0.29288894351773065, 'drift_status': True},
 'cs_005': {'p_value': 0.5438146518186028, 'drift_status': False},
 'cs_006': {'p_value': 0.2504670030210764, 'drift_status': True},
 'cs_007': {'p_value': 0.2047175480585861, 'drift_status': True},
 'cs_008': {'p_value': 0.5989456120892596, 'drift_status': False},
 'cs_009': {'p_value': 1.0, 'drift_status': False},
 'ct_000': {'p_value': 0.5686857661684999, 'drift_status': False},
 'cu_000': {'p_value': 0.9870401854335386, 'drift_status': False},
 'cv_000': {'p_value': 0.5537196367327519, 'drift_status': False},
 'cx_000': {'p_value': 0.2894545155958369, 'drift_status': True},
 'cy_000': {'p_value': 0.9988034952986633, 'drift_status': False},
 'cz_000': {'p_value': 0.5636833878185076, 'drift_status': False},
 'da_000': {'p_value': 0.9999998292165202, 'drift_status': False},
 'db_000': {'p_value': 0.598945612089267, 'drift_status': False},
 'dc_000': {'p_value': 0.6499803522120149, 'drift_status': False},
 'dd_000': {'p_value': 0.8912344527808876, 'drift_status': False},
 'de_000': {'p_value': 0.7706145425548452, 'drift_status': False},
 'df_000': {'p_value': 0.9932596212474555, 'drift_status': False},
 'dg_000': {'p_value': 0.8723590899898521, 'drift_status': False},
 'dh_000': {'p_value': 0.9018689176378155, 'drift_status': False},
 'di_000': {'p_value': 0.7312636709547603, 'drift_status': False},
 'dj_000': {'p_value': 0.9999992388391101, 'drift_status': False},
 'dk_000': {'p_value': 0.999980908956811, 'drift_status': False},
 'dl_000': {'p_value': 0.9999999958483216, 'drift_status': False},
 'dm_000': {'p_value': 0.9999999992510811, 'drift_status': False},
 'dn_000': {'p_value': 0.6295141544806818, 'drift_status': False},
 'do_000': {'p_value': 0.8218949012046576, 'drift_status': False},
 'dp_000': {'p_value': 0.7849785321147189, 'drift_status': False},
 'dq_000': {'p_value': 0.9912695335630153, 'drift_status': False},
 'dr_000': {'p_value': 0.9977920361405407, 'drift_status': False},
 'ds_000': {'p_value': 0.500089395383803, 'drift_status': False},
 'dt_000': {'p_value': 0.8644289490955757, 'drift_status': False},
 'du_000': {'p_value': 0.887571997928805, 'drift_status': False},
 'dv_000': {'p_value': 0.5989456120892596, 'drift_status': False},
 'dx_000': {'p_value': 0.4905848857124606, 'drift_status': True},
 'dy_000': {'p_value': 0.7010316904338358, 'drift_status': False},
 'dz_000': {'p_value': 0.99999999999998, 'drift_status': False},
 'ea_000': {'p_value': 0.9999999999945326, 'drift_status': False},
 'eb_000': {'p_value': 0.41784642361134405, 'drift_status': True},
 'ec_00': {'p_value': 0.4006664190225946, 'drift_status': True},
 'ed_000': {'p_value': 0.35175067456218, 'drift_status': True},
 'ee_000': {'p_value': 0.8394481416295372, 'drift_status': False},
 'ee_001': {'p_value': 0.8800761909402606, 'drift_status': False},
 'ee_002': {'p_value': 0.583767161332184, 'drift_status': False},
 'ee_003': {'p_value': 0.4265942585575153, 'drift_status': True},
 'ee_004': {'p_value': 0.5000893953837996, 'drift_status': False},
 'ee_005': {'p_value': 0.6193005475425917, 'drift_status': False},
 'ee_006': {'p_value': 0.5000893953837996, 'drift_status': False},
 'ee_007': {'p_value': 0.8218949012046644, 'drift_status': False},
 'ee_008': {'p_value': 0.670451032562374, 'drift_status': False},
 'ee_009': {'p_value': 0.9988034952986633, 'drift_status': False},
 'ef_000': {'p_value': 0.9999999999998455, 'drift_status': False},
 'eg_000': {'p_value': 0.9999999999990032, 'drift_status': False}}

## Zero_ std_columns

In [56]:
train_df

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,12,0.0,12.0,12.0,0.0,0.0,0.0,0.0,0.0,...,110.0,44.0,76.0,14.0,36.0,0.0,0.0,0.0,0.0,0.0
1,neg,726,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,1764.0,582.0,1882.0,28018.0,300.0,0.0,0.0,0.0,0.0,0.0
2,neg,242840,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,1782830.0,1274074.0,3193436.0,2725894.0,1562590.0,519374.0,347922.0,1716.0,NaN,NaN
3,neg,28800,NaN,252.0,244.0,0.0,0.0,0.0,0.0,0.0,...,309968.0,195206.0,402762.0,222626.0,94058.0,53634.0,80034.0,1798.0,0.0,0.0
4,neg,58330,NaN,1542.0,308.0,0.0,0.0,0.0,0.0,0.0,...,442744.0,192746.0,382524.0,350810.0,349370.0,284108.0,481872.0,9922.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27136,neg,29618,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,277876.0,151706.0,404764.0,329882.0,170436.0,42222.0,16838.0,0.0,0.0,0.0
27137,neg,12,NaN,36.0,NaN,0.0,0.0,0.0,0.0,0.0,...,130.0,44.0,42.0,28.0,20.0,32.0,0.0,0.0,0.0,0.0
27138,neg,20,NaN,8.0,4.0,0.0,0.0,0.0,0.0,0.0,...,320.0,26.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27139,neg,59710,NaN,734.0,696.0,0.0,0.0,0.0,0.0,0.0,...,742818.0,369516.0,727576.0,546898.0,301438.0,91516.0,12398.0,1040.0,0.0,0.0
27140,pos,517566,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,10661418.0,3321906.0,3956102.0,1217588.0,515170.0,199942.0,162696.0,700.0,NaN,NaN

In [62]:
import pandas as pd

def drop_zero_std_columns(dataframe: pd.DataFrame) -> pd.DataFrame:
    try:
        # Filter only numeric columns
        numeric_df = dataframe.select_dtypes(include=[np.number])
        
        std_dev = numeric_df.std()
        non_zero_std_cols = std_dev[std_dev != 0].index.tolist()
        
        return dataframe[non_zero_std_cols]
    except Exception as e:
        raise e
drop_zero_std_columns(dataframe=train_df)

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,12,0.0,12.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,...,110.0,44.0,76.0,14.0,36.0,0.0,0.0,0.0,0.0,0.0
1,726,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,1764.0,582.0,1882.0,28018.0,300.0,0.0,0.0,0.0,0.0,0.0
2,242840,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,2376.0,...,1782830.0,1274074.0,3193436.0,2725894.0,1562590.0,519374.0,347922.0,1716.0,NaN,NaN
3,28800,NaN,252.0,244.0,0.0,0.0,0.0,0.0,0.0,0.0,...,309968.0,195206.0,402762.0,222626.0,94058.0,53634.0,80034.0,1798.0,0.0,0.0
4,58330,NaN,1542.0,308.0,0.0,0.0,0.0,0.0,0.0,0.0,...,442744.0,192746.0,382524.0,350810.0,349370.0,284108.0,481872.0,9922.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27136,29618,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,277876.0,151706.0,404764.0,329882.0,170436.0,42222.0,16838.0,0.0,0.0,0.0
27137,12,NaN,36.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,130.0,44.0,42.0,28.0,20.0,32.0,0.0,0.0,0.0,0.0
27138,20,NaN,8.0,4.0,0.0,0.0,0.0,0.0,0.0,396.0,...,320.0,26.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27139,59710,NaN,734.0,696.0,0.0,0.0,0.0,0.0,0.0,0.0,...,742818.0,369516.0,727576.0,546898.0,301438.0,91516.0,12398.0,1040.0,0.0,0.0
27140,517566,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,10661418.0,3321906.0,3956102.0,1217588.0,515170.0,199942.0,162696.0,700.0,NaN,NaN

In [63]:

def split_columns_by_std(dataframe: pd.DataFrame) -> (pd.DataFrame, pd.DataFrame):
    try:
        # Filter only numeric columns
        numeric_df = dataframe.select_dtypes(include=[np.number])
        
        std_dev = numeric_df.std()
        non_zero_std_cols = std_dev[std_dev != 0].index.tolist()
        zero_std_cols = std_dev[std_dev == 0].index.tolist()
        
        non_zero_std_df = dataframe[non_zero_std_cols]
        zero_std_df = dataframe[zero_std_cols]
        
        return non_zero_std_df, zero_std_df
    except Exception as e:
        raise e

non_zero_std, zero_std = split_columns_by_std(train_df)

In [65]:
non_zero_std

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,12,0.0,12.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,...,110.0,44.0,76.0,14.0,36.0,0.0,0.0,0.0,0.0,0.0
1,726,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,1764.0,582.0,1882.0,28018.0,300.0,0.0,0.0,0.0,0.0,0.0
2,242840,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,2376.0,...,1782830.0,1274074.0,3193436.0,2725894.0,1562590.0,519374.0,347922.0,1716.0,NaN,NaN
3,28800,NaN,252.0,244.0,0.0,0.0,0.0,0.0,0.0,0.0,...,309968.0,195206.0,402762.0,222626.0,94058.0,53634.0,80034.0,1798.0,0.0,0.0
4,58330,NaN,1542.0,308.0,0.0,0.0,0.0,0.0,0.0,0.0,...,442744.0,192746.0,382524.0,350810.0,349370.0,284108.0,481872.0,9922.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27136,29618,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,277876.0,151706.0,404764.0,329882.0,170436.0,42222.0,16838.0,0.0,0.0,0.0
27137,12,NaN,36.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,130.0,44.0,42.0,28.0,20.0,32.0,0.0,0.0,0.0,0.0
27138,20,NaN,8.0,4.0,0.0,0.0,0.0,0.0,0.0,396.0,...,320.0,26.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27139,59710,NaN,734.0,696.0,0.0,0.0,0.0,0.0,0.0,0.0,...,742818.0,369516.0,727576.0,546898.0,301438.0,91516.0,12398.0,1040.0,0.0,0.0
27140,517566,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,10661418.0,3321906.0,3956102.0,1217588.0,515170.0,199942.0,162696.0,700.0,NaN,NaN

In [66]:
zero_std

          cd_000
0      1209600.0
1      1209600.0
2      1209600.0
3      1209600.0
4      1209600.0
...          ...
27136  1209600.0
27137  1209600.0
27138  1209600.0
27139  1209600.0
27140  1209600.0

[27141 rows x 1 columns]

In [67]:
    
# importing os.path module  
import os.path 
  
# Path 
path = '/home/User/Documents'
  
# Get the directory name   
# from the specified path 
dirname = os.path.dirname(path) 
  
# Print the directory name   
print(dirname)

/home/User

In [ ]:


def read_yaml_file(file_path: str)->dict:
    try:
        with open(file_path, 'rb') as yaml_file:
            return yaml.safe_load(yaml_file)
    except Exception as e:
        raise SensorException(e, sys)

In [29]:
from Sensor_Fault_Detection.utils.util  import write_yaml_file,read_yaml_file
from Sensor_Fault_Detection.entity.config_entity import DataValidationConfig,TrainingPipelineConfig

def detect_dataset_drift(base_df, current_df, threshold=0.05) ->bool:
    status = True
    drift_report={}
    for column in base_df.columns:
        d1 = base_df[column]
        d2 = current_df[column]
        is_same_dist = ks_2samp(d1,d2)
        if threshold<=float(is_same_dist.pvalue):
            is_found=False
        else:
            is_found = True
            status = False
        drift_report.update({column:{
            "p_value":float(is_same_dist.pvalue),
            "drift_status":is_found
            }})
    return drift_report

In [30]:
from scipy.stats import ks_2samp
import numpy as np

report = detect_dataset_drift(train_df,test_df,)

In [32]:
path = r"F:\End_To_End_project\Sensor-Fault-Detection\s.yaml"
report = detect_dataset_drift(train_df,test_df,)
write_yaml_file(path,report )

SensorException: Error occurred python script name [f:\End_To_End_project\Sensor-Fault-Detection\Sensor_Fault_Detection\utils\util.py] line number [19] error message [[Errno 2] No such file or directory: 'F:\\End_To_End_project\\Sensor-Fault-Detection\\s.yaml']